@model WebAppMVC.Models.Contact

@{
    ViewBag.Title = "Step 3 - Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactDetails</title>
</head>
<body>
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Step 3 : Contact Details</h4>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="prevBtn" value='Previous' class="btn btn-default" />
                    <input type="submit" name="nextBtn" value='Finish' class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</body>
</html>